WEB_USERNAME=
WEB_PASSWORD=
DEVICE_NAME=
TARGET_PLATFORM=linux/amd64

HONEYGAIN_PLATFORM=
TRAFFMONETIZER_PLATFORM=
PACKETSTREAM_PLATFORM=
PACKETSHARE_PLATFORM=
REPOCKET_PLATFORM=
EARNFM_PLATFORM=
GRASS_PLATFORM=
MYSTERIUM_PLATFORM=
PAWNS_PLATFORM=
PROXYRACK_PLATFORM=
BITPING_PLATFORM=

HONEYGAIN_EMAIL=
HONEYGAIN_PASSWORD=
TRAFFMONETIZER_TOKEN=
PACKETSTREAM_CID=
PACKETSHARE_EMAIL=
PACKETSHARE_PASSWORD=
REPOCKET_EMAIL=
REPOCKET_API_KEY=
EARNFM_TOKEN=
GRASS_USER=
GRASS_PASS=
UPROCK_EMAIL=
UPROCK_PASSWORD=
PAWNS_EMAIL=
PAWNS_PASSWORD=
PROXYRACK_UUID=
PROXYRACK_API_KEY=
BITPING_EMAIL=
BITPING_PASSWORD=
BITPING_MFA=

ENABLE_HONEYGAIN=false
ENABLE_TRAFFMONETIZER=false
ENABLE_PACKETSTREAM=false
ENABLE_PACKETSHARE=false
ENABLE_REPOCKET=false
ENABLE_EARNFM=false
ENABLE_GRASS=false
ENABLE_MYSTERIUM=false
ENABLE_PAWNS=false
ENABLE_PROXYRACK=false
ENABLE_BITPING=false
ENABLE_WIPTER=false
ENABLE_UPROCK=false
